@import 'reset';
@import 'variables';
@import 'header';
@import 'card';
@import 'stars';

body {
  font-family: $font-main;
}

.product {
  display: flex;
  justify-content: center;

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, $card-width);
    gap: 46px 48px;
    padding: 50px 40px;

    @media (max-width: 1023px) {
      grid-template-columns: repeat(3, $card-width);
    }

    @media (max-width: 767px) {
      grid-template-columns: repeat(2, $card-width);
    }

    @media (max-width: 487px) {
      grid-template-columns: repeat(1, $card-width);
    }
  }
}
